.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
  pointer-events: none;
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb !important;
}

.App-link:hover {
  text-decoration: underline !important;
}

.login-container {
  text-align: center;
}

.splash-form {
  min-width: 300px;
  display: inline-block;
}

.navbar {
  border-radius: 0px !important;
}

.navbar .searchbar {
  width: 60% !important;
  display: inline !important;
  float: left;
  margin-left: 20px;
}

.navbar-brand a {
  color: white;
  font-weight: bold;
}

.navbar-brand a:hover {
  text-decoration: none;
}

.logout-nav-item {
  color: white;
  position: absolute;
  top: 15px;
  right: 20px;
}

.hidden {
  display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
